<%- include('../includes/header.ejs') %>
</head>

<body>
  <header>
      <%- include('../includes/navbar.ejs') %>

      <div class="p-5 text-center bg-light" style="margin-top: 58px">
        <h1 class="my-1 h4">Change password</h1>
      </div>
  </header>

  <!-- Main Section   -->
  <main class="my-4">
      <div class="container" >

        <% if( flashMessage ) { %>
            <div class="alert alert-warning my-4" role="alert">
                <p class="mb-0"><%= flashMessage %></p>
            </div>        
          <% } %>  

          <!-- <form action="/profile/change-password" method="POST" novalidate>
            <div class="form-group">
              <label for="firstName">Email</label>
              <input class="form-control" type="text" name="firstName" id="firstName" value="<%= user.email %>" disabled />
            </div>
            <div class="form-group">
                <label for="password">Old Password</label>
                <input class="form-control" type="password" name="oldPassword" id="oldPassword" />
              </div>
            <div class="form-group">
              <label for="password">New Password</label>
              <input class="form-control" type="password" name="password" id="password" />
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm New Password</label>
              <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" />
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-primary" type="submit">Change Password</button>
          </form> -->
                   
          <form action="/profile/change-password" method="POST" >
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" name="email" id="email" class="form-control" value="<%= user.email %>" disabled />
              <label class="form-label" for="email">Email address</label>
            </div>
          
            <!-- Password (old) input -->
            <div class="form-outline mb-4">
                <input type="password" name="oldPassword" id="oldPassword" class="form-control" />
                <label class="form-label" for="oldPassword">Old password</label>
              </div>
            
            <!-- Password (new) input -->
            <div class="form-outline mb-4">
              <input type="password" name="password" id="password" class="form-control" />
              <label class="form-label" for="password">New password</label>
            </div>

            <!-- Password confirmation input -->
            <div class="form-outline mb-4">
              <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" />
              <label class="form-label" for="confirmPassword">Confirm new password</label>
            </div>
            
            

            <!-- CSRF hidden input  -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Change password
            </button>            
          </form>
      </div>
      
  </main>
  <!-- Main Section   -->

    <%- include('../includes/footer.ejs') %>

    
</body>
</html>
